<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logictrue.wms.mapper.WmsPurchaseMapper">
    
    <resultMap type="WmsPurchase" id="WmsPurchaseResult">
        <result property="purchaseId"    column="purchase_id"    />
        <result property="purchaseOrderno"    column="purchase_orderno"    />
        <result property="remarks"    column="remarks"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectWmsPurchaseVo">
        select purchase_id, purchase_orderno, remarks, status from wms_purchase
    </sql>

    <select id="selectWmsPurchaseList" parameterType="WmsPurchase" resultMap="WmsPurchaseResult">
        <include refid="selectWmsPurchaseVo"/>
        <where>  
            <if test="purchaseOrderno != null  and purchaseOrderno != ''"> and purchase_orderno like concat('%', #{purchaseOrderno}, '%')</if>
            <if test="remarks != null  and remarks != ''"> and remarks like concat('%', #{remarks}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWmsPurchaseByPurchaseId" parameterType="Long" resultMap="WmsPurchaseResult">
        <include refid="selectWmsPurchaseVo"/>
        where purchase_id = #{purchaseId}
    </select>
        
    <insert id="insertWmsPurchase" parameterType="WmsPurchase" useGeneratedKeys="true" keyProperty="purchaseId">
        insert into wms_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseOrderno != null">purchase_orderno,</if>
            <if test="remarks != null">remarks,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseOrderno != null">#{purchaseOrderno},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateWmsPurchase" parameterType="WmsPurchase">
        update wms_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseOrderno != null">purchase_orderno = #{purchaseOrderno},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where purchase_id = #{purchaseId}
    </update>

    <delete id="deleteWmsPurchaseByPurchaseId" parameterType="Long">
        delete from wms_purchase where purchase_id = #{purchaseId}
    </delete>

    <delete id="deleteWmsPurchaseByPurchaseIds" parameterType="String">
        delete from wms_purchase where purchase_id in 
        <foreach item="purchaseId" collection="array" open="(" separator="," close=")">
            #{purchaseId}
        </foreach>
    </delete>
</mapper>